testing.py
test.py
abhinav_test.ipynb

.venv
.venv_312
try.py
/data/
data/

/venv-finance/
venv-finance/

/venv-finapp/
venv-finapp/

financial_ratios_2010_2024_v3.csv

.streamlit

/models/
models/

/model/
model/

backtesting_test.ipynb

.DS_Store
.idea/

/__pycache__
.__pycache__
__pycache__/
